:root {
  --color-dark-bg: #2c2c2c;
  --color-light-bg: #f5f5f5;
  --color-dark-text: #1e1e1e;
  --color-orange-text: #dd9776;
  --color-gray-light: #d9d9d9;
  --color-gray-dark: #979797;
  --white: #ffffff;
}
